DEBUG_LOGGING=true
PORT=4000
CALLBACK_CONFIGS={"FinCloudChat":{"Type":"bypass","API_AUTH_TOKEN":"your_api_auth_token","API_URL":"your_api_url","CHANNEL_SECRET":"your_channel_secret","CHANNEL_ACCESS_TOKEN":"your_channel_access_token"},"LineGroupSummary":{"Type":"periodicsummary","CHANNEL_SECRET":"your_channel_secret","CHANNEL_ACCESS_TOKEN":"your_channel_access_token"}} 